<section class="brand">
  <div class="mbox">
    <h1>БРЕНД</h1>
    <div class="brand-wrap">
      <div class="brand-left">
        <div class="binarium-logo">
          <img src="images/binarium-logo.png" alt="Binarium">
        </div>
        <div class="binarium-link">
          <h2>Онлайн брокер <span>“Бинариум”</span></h2>
          <a href="Binarium.ru">Binarium.ru</a>
        </div>
      </div>
      <div class="brand-right">
        <p>Binarium.ru – первый российский брокер бинарных опционов, работающий на рынке с 2012 года.
          <span>За время своей работы проект зарекомендовал себя надежным и стабильным партнером, как для клиентов трейдеров, так и для многочисленных веб мастеров, благодаря первоклассному сервису и максимально открытым финансовым отношениям с партнерами.</span>
        </p>        
        <p>
          <span>Торговая платформа Binarium предоставляет своим клиентам доступ к трейдингу бинарными опционами в
          режиме 24/7 и возможность зарабатывать в любое удобное для вас время.</span>
          Особыми преимуществами компании Binarium являются:
          <br>
          Профессиональная служба поддержки
          <br>
          Высокая скорость финансовых операций клиента (пополнение/вывод средств)
        </p>
        <p>
          Высокая доходность опционов 75-800% дохода с одной сделки.
          <br>
          Большой выбор торговых инструментов (более 120 финансовых активов).
          <br>
          Также, торговая платформа предлагает подробные текстовые инструкции, видеоматериалы, подходящие для новичков и опытных трейдеров.
          <br>
          Пополнить счет или быстро вывести средства возможно на карты Visa, MasterCard или воспользовавшись кошельками ЯндексДеньги, WebMoney или Qiwi.
        </p>
        <p>
          Binarium регулярно проводит акции и турниры для брокеров, повышающие доходность сделок при существенном понижении рисков.
          <br>
          Клиенты российского брокера Binarium регулярно получают свежую аналитику, обзоры рынка, подробные видео инструкции, рекомендации финансовых экспертов.
        </p>
        <p>Бинарные опционы с Binarium – это просто и всегда выгодно!</p>
      </div>
    </div>
  </div>
  <div class="brand-list-wrap">
    <div class="brand-list-row">
      <div class="brand-list-left">
        <ul>
          <li>Брокер:</li>
          <li>Адрес:</li>
          <li>Комиссионные программы:</li>
          <li class="li-right">Revenue Share:</li>
          <li class="li-right">RS+CPA:</li>
        </ul>
      </div>
      <div class="brand-list-right">
        <p>Бинариум</p>
        <p><a href="https://binarium.ru">https://binarium.ru</a></p>
        <p>35%
        <br>
        20% + 50$ за суммарный деп игрока в 100$</p>
      </div>
    </div>
    <div class="brand-list-row">
      <div class="brand-list-left">
        <ul>
          <li>Количество активов:</li>
          <li>Ключевые рынки:</li>
          <li>Мобильная версия:</li>
          <li>Джекпоты:</li>
          <li>Бонусы для новичков:</li>
          <li>Другие бонусы:</li>
        </ul>
      </div>
      <div class="brand-list-right">
        <p>более 100</p>
        <p>Россия, другие страны СНГ + Тайланд</p>
        <p>В разработке</p>
        <p>нет</p>
        <p>да</p>
        <p>Торговые сигналы, ежедневные аналитические материалы, комната трейдеров, 
        персональный финансовый аналитик, множество бесплатных стратегий и видео, 
        вебинары, страхование депозита, моментальный вывод средств</p>
      </div>
    </div>
    <div class="brand-list-row">
      <div class="brand-list-left">
        <ul>
          <li>Языки:</li>
          <li>Валюта:</li>
          <li>Платежные методы:</li>
          <li>Поддержка:</li>
        </ul>
      </div>
      <div class="brand-list-right">
        <p>русский, английский, тайский</p>
        <p>USD/RUB/GBR/EUR</p>
        <p>Карты (VISA/Mastercard), Qiwi, Yandexmoney, Webmoney</p>
        <p><span>24/7 по телефону, электронной почте, онлайн чат по рабочим дням с 11.00 до 19.00 по МСК</span></p>
      </div>
    </div>
    <div class="brand-list-row">
      <div class="brand-list-left">
        <ul>
          <li>Программы лояльности:</li>
        </ul>
      </div>
      <div class="brand-list-right">
        <p>VIP</p>
      </div>
    </div>
  </div>
</section>