<section class="commission">
  <div class="mbox">
    <h1>КОМИССИИ</h1>
    <div class="commission-slider">
      <div class="commission-item-wrap">
        <div class="commission-item">
          <img src="images/revshare.png" alt="">
          <p>RevShare</p>
        </div>
      </div>
      <div class="commission-item-wrap">
        <div class="commission-item commission-item-center">
          <img src="images/CPA.png" alt="">
          <p>CPA</p>
        </div>
      </div>
      <div class="commission-item-wrap">
        <div class="commission-item">
          <img src="images/Hybrid.png" alt="">
          <p>Hybrid ( RS+CPA )</p>
        </div>
      </div>
    </div>
    <div class="commission-info">
      <div class="commission-info-item">
        <h2>RevShare - зарабатывайте 35% от дохода брокера Binarium.ru</h2>
        <p>Revenue Share с доходов компании (программа «RevShare») на протяжение отчетного периода обеспечивает партнерам стабильных доход в виде % от доходов компании с каждого активного клиента. Процент отчесилений составляет 35%.<span>Партнерские вознаграждения в этой программе рассчитываются от NetGaming, т.е. от фактически проиграных денег трейдером</span></p>
        <h3>Brands :</h3>
        <a href="Binarium.ru">Binarium.ru</a>
      </div>
      <div class="commission-info-item">
        <h2>Получайте от $20 за игрока по программе CPA</h2>
        <p>Единоразовое отчисление за каждого привлеченного Вами игрока в размере от 20$. Данный тарифный план можно запросить у службы поддержки после привлечения в течении месяца более 20 реальных игроков. Программа для VIP вебмастеров</p>
        <h3>Brands :</h3>
        <a href="#">Вулкан Удачи</a>
        <a href="#">Va-Bank</a>
        <a href="#">BestForPlay</a>
      </div>
      <div class="commission-info-item">
        <h2>Hybrid ( RS+CPA ) – зарабатывайте 20%  от доходов + $50 за реального игрока</h2>
        <p>По данной программе вы получаете 20% RS на постоянной основе + 50$ за каждого реального трейдера, который совершил неудачных сделок на сумму 100$</p>
        <h3>Brands :</h3>
        <a href="#">Вулкан Удачи</a>
        <a href="#">Va-Bank</a>
        <a href="#">BestForPlay</a>
      </div>
    </div>
  </div>
</section>