<section class="carusel">
  <div class="mbox">
    <div class="carusel-info">
      <h1>Умные зарабатывают с нами</h1>
      <a class="reg" href="#partner-program">РЕГИСТРАЦИЯ</a>
    </div>
  </div>
  <div class="slider">
    <div class="slider-item">
      <img src="images/slide01.jpg" alt="">
    </div>
    <div class="slider-item">
      <img src="images/slide02.jpg" alt="">
    </div>
    <div class="slider-item">
      <img src="images/slide03.jpg" alt="">
    </div>
    <div class="slider-item">
      <img src="images/slide04.jpg" alt="">
    </div>
  </div>
</section>

<section class="programs">
  <div class="mbox">
    <div class="programs-wrap">

      <div class="programs-item">
        <div class="programs-item-top">
          <img src="images/dollar-icon.png" alt="Dollar">
          <h3>Комиссионные программы</h3>
        </div>
        <div class="programs-item-bottom">
          <p>Гибкие комиссионные программы позволяют Вам зарабатывать:</p>
          <ul>
            <li>до 55% от доходов казино</li>
            <li>до $150 за игрока по CPA модели</li>
            <li>до 30% от депозитов игроков</li>
          </ul>
        </div>
      </div>

      <div class="programs-item">
        <div class="programs-item-top">
          <img src="images/bulb-icon.png" alt="Bulb">
          <h3>Последние новости</h3>
        </div>
        <div class="programs-item-bottom">
          <p>Гибкие комиссионные программы позволяют Вам зарабатывать:</p>
          <ul>
            <li>до 55% от доходов казино</li>
            <li>до $150 за игрока по CPA модели</li>
            <li>до 30% от депозитов игроков</li>
          </ul>
        </div>
      </div>

    <div class="programs-item">
        <div class="programs-item-top">
          <img src="images/star-icon.png" alt="Star">
          <h3>Топ вебмастеров</h3>
        </div>
        <div class="programs-item-bottom">
          <p>Гибкие комиссионные программы позволяют Вам зарабатывать:</p>
          <ul>
            <li>до 55% от доходов казино</li>
            <li>до $150 за игрока по CPA модели</li>
            <li>до 30% от депозитов игроков</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="services">
  <div class="mbox">
    <div class="title">
      <h2>Мы всегда готовы предоставить самые лучшие услуги для вашего удобства</h2>
    </div>
    <div class="services-pics">
      <div class="services-pics-item">
        <img src="images/services-pics01.png" alt="">
          <div class="services-title-item services-title-item-left">
            <p>Эффективные Рекламные материалы</p>
        </div>
      </div>
      <div class="services-pics-item">
        <img src="images/services-pics02.png" alt="">
        <div class="services-title-item services-title-item-center">
          <p>Подробная статистика</p>
        </div>
      </div>
      <div class="services-pics-item">
        <img src="images/services-pics03.png" alt="">
        <div class="services-title-item services-title-item-right">
          <p>Реферальная программа</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="programs-price">
  <div class="mbox">
    <div class="title">
      <h2>Мы предлагаем самые выгодные и гибкие комиссионные программы</h2>
    </div>
    <div class="programs-price-wrap">
      <div class="programs-price-pic">
        <img src="images/programs-price.png" alt="">
      </div>
      <div class="programs-price-left">
        <h3>RevShare – зарабатывайте до 35% от дохода казино</h3>
        <p>Стабильных % от доходов компании с каждого активного клиента</p>
      </div>
      <div class="programs-price-right">
        <h3>Получайте от $20 за игрока по программе CPA</h3>
        <p>Лучшая программа для максимизации своих доходов со старта</p>
      </div>
      <div class="programs-price-center">
        <h3>Hybrid ( RS+CPA ) – зарабатывайте 20% от доходов + $50 за реального игрока</h3>
        <p>Данная программа не учитывает выплаты игрокам что исключает риски потерь прибыли от особенно удачливых игроков</p>
      </div>
    </div>
    <a href="#">ПОДРОБНЕЕ о ПРОГРАММАХ</a>
  </div>
</section>

<section class="broker">
  <div class="mbox">
    <div class="title">
      <h2>ПОЛУЧАЙТЕ ПРИБЫЛЬ ОТ РАБОТЫ С ЛУЧШИМ БРОКЕРОМ В ИНТЕРНЕТЕ</h2>
    </div>
    <div class="broker-wrap">
      <div class="broker-left">
        <p><span>САППОРТ</span> - индивидуальный подход к каждому клиенту + личный менеджер</p>
      </div>
      <div class="broker-right-top">
        <p><span>ДЕНЬГИ</span> - самый быстрый вывод средств в индустрии что несомненно привлекает многих трейдеров
        <br>и тем самым увеличивает
        <br> live time игрока в проект</p>
      </div>
      <div class="broker-right-bottom">
        <p><span>программное</span> <b>обеспечениеот</b> лидера индустрии</p>
      </div>
      <div class="broker-pic">
        <img src="images/macbook.png" alt="">
      </div>
    </div>
  </div>
</section>

<section id="partner-program" class="partner-program">
  <div class="mbox">
    <div class="partner-program-wrap">
      <h2>Партнерская программа CleverAff — ваш проводник в мир бинарных опционов.</h2>
    </div>
    <div class="form-wrap cfix">
      <div class="logo-bottom">
        <img src="images/logo-white.png" alt="Logo">
      </div>
      <form class="form" name="registration" action="ajax.php" method="post">
        <div class="inputs-wrap">
          <div class="form-field">
            <label for="login-reg">Логин</label>
            <input id="login-reg" type="text" name="login" placeholder="Логин" required />
          </div>
          <div class="form-field">
            <label for="pass">Пароль</label>
            <input id="pass" type="password" name="pass" placeholder="Пароль" required />
          </div>
          <div class="form-field">
            <label for="confirmPass">Подтверждение пароля</label>
            <input id="confirmPass" type="password" name="confirmPass" placeholder="Подтверждение пароля" required />
          </div>
          <div class="form-field">
            <label for="email">e - mail</label>
            <input id="email" type="email" name="email" placeholder="e - mail" required />
          </div>
          <div class="checkbox-wrap">
            <div class="checkbox-field checkbox-top">
              <b>Отображать мое имя в ТОП партнеров</b>
              <input id="checkbox1" type="checkbox" name="checkbox1">
              <label for="checkbox1"><span></span></label>
            </div>
            <div class="checkbox-field checkbox-bottom">
              <b>Я согласен с <a href="#">правилами и условиями</a></b>
              <input id="checkbox2" type="checkbox" name="checkbox2">
              <label for="checkbox2"><span></span></label>
            </div>
          </div>
        </div>
        <button type="submit">РЕГИСТРАЦИЯ</button>
      </form>
    </div>
  </div>
</section>