<!-- HEADER -->
<header class="header">
  <div class="mbox">
    <div class="header-wrap">
      <div class="logo">
        <a href="index.html">
          <img src="images/logo.png" alt="Logo">
          <img class="logo-mobile" src="images/logo640.png" alt="Logo">
        </a>
      </div>
      <nav>
        <div class="burger">
          <div class="burger-brick"></div>
          <div class="burger-brick middle"></div>
          <div class="burger-brick"></div>
        </div>
        <ul class="admin">
          <li><a class="reg-link" href="#reg-popup">РЕГИСТРАЦИЯ</a></li>
          <li><a class="login-link" href="#login-popup">ВХОД</a></li>
          <li class="lang">
            <a class="active" href="#">ru</a>
            <a href="#">ENG</a>
          </li>
        </ul>

        <ul class="main-menu">
          <li><a href="news.html">НОВОСТИ</a></li>
          <li><a href="brand.html">БРЕНД</a></li>
          <li><a href="commission.html">КОМИССИИ</a></li>
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="contacts.html">КОНТАКТЫ</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<!-- /HEADER -->

